*{
  margin: 0;
  padding: 0;
  font-family:"Poppins", sans-serif;
  box-sizing: border-box;
}

body{
  background-color: gainsboro;
}
.container{
  width: 400px;
  padding: 25px 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  border-radius: 10px;

}
.container p{
  font-weight: 600;
  padding-bottom: 20px;
  font-size: 15px;

}
.container input{
  width: 100%;
  height: 50px;
  border-radius:7px;
  border: 1px solid gray;
  outline: 0;
  padding: 10px;
  margin: 10px 0 20px;
}
.container button{
  background-color: rgb(3, 3, 233);
  color: white;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 0;
  outline: 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 20px 0;
  font-weight: 500;
}
#imgBox{
  width: 200px;
  border-radius: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
}
#imgBox img{
  width: 100%;
  padding: 10px;
}
#imgBox.show-img{
  max-height: 300px;
  margin: 10px auto;
  border: 1px solid gainsboro;
}
.error{
  animation: shake 0.1s linear 10;
}
@keyframes shake {
  0%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(-2px);
  }
  50%{
    transform: translateX(0);
  }
  75%{
    transform: translateX(2px);
  }
  100%{
    transform: translateX(0);
  }
}